<h1>Clients#show</h1>
<%= link_to("Index", {:action=> 'index'} , :class => 'action show')%>
<div class = "Clients Show">
	<h2> Show Client</h2>
	<table summary = "Subject Details View">
		<tr>
			<th> Name</th>
			<td><%= @client.name%></td>
		</tr>
		<tr>
			<th> Address</th>
			<td><%= @client.address%></td>
		</tr>
		<tr>
			<th> Designation</th>
			<td><%= @client.designation%></td>
		</tr>
		<tr>
			<th> Created </th>
			<td><%= @client.created_at%></td>
		</tr>
		<tr>
			<th> Updated</th>
			<td><%= @client.updated_at%></td>
		</tr>
	</table>
</div>